<script src="underscore-min.js"></script>
<script src="jquery.js"></script>
<script src="parens.js"></script>
<script src="string_indent.js"></script>
<script src="indent.js"></script>
<script src="mark8.js"></script>

<div id="results"></div>

<script class="test" type="mark8">
greet name =
  really_greet suffix1 =
    really_really_greet suffix2 =
      spaced Hello name suffix1 suffix2

((greet Drew) !) ?
</script>

<script class="test" type="mark8">
incr x =
  inc z y =
    x = + x 1
    x

inc = incr 5
log (inc 0)
log (inc 0)
log (inc 0)
log (inc 0)
log inc:0

</script>

<script class="test" type="mark8">
greet name = log (+ 1 3) name
</script>

<script class="test" type="mark8">
greet name = 
  log (+ 1 3) name
</script>

<script class="test" type="mark8">
greet name = log
  + 1 3
  name
</script>

<script class="test" type="mark8">
greet name =
  log
    + 1 3
    name
</script>
<script class="test" type="mark8">
greet name =
  log
    + 1 3
    name
  
  log
    + 2 3
    name
</script>


<script class="test" type="mark8">
log drew
</script>

<script class="test" type="mark8">
log drew lesueur
</script>

<script class="test" type="mark8">
log drew
  lesueur
</script>

<script class="test" type="mark8">
log drew a
  lesueur
</script>

<script class="test" type="mark8">
log drew a
  lesueur
  yoyo world
  log smthng else
</script>



<script class="test" type="mark8">
greet name = concat (+ 1 3) name
</script>

<script class="test" type="mark8">
greet name = 
  concat (+ 1 3) name
</script>

<script class="test" type="mark8">
greet name = concat
  + 1 3
  name
</script>

<script class="test" type="mark8">
greet name =
  concat
  + 1 3
  name
</script>

<script class="test" type="mark8">
greet name = name
</script>


<script class="test" type="mark8">
greet name = concat 4 name
</script>

<script class="test" type="mark8">
alert hello+world
</script>

<script class="test" type="mark8">
alert (str hello world)
</script>

<script class="test" type="mark8">
alert (str \x22)
</script>

<script class="test" type="mark8">
alert \x22
</script>

<script class="test" type="mark8">
msg =  
  \x22
alert msg
</script>

<script class="test" type="mark8">
yo = 1
message =  
  hello world! :)
yo
</script>

<script class="test" type="mark8">
a = 2
</script>

<script class="test" type="mark8">
a = (test \n this)
</script>

<script class="test" type="mark8">
greet name = concat hello name
</script>

<script class="test" type="mark8">
my_paragraph =   
  this " is a multi line string
  it has many lines

other_var = 
  smthng here

my_integer = 3
</script>

<script class="test" type="mark8">
c = (some thing here for fun)
</script>

<script class="test" type="mark8">
name = str Drew LeSueur
other = concat (str some cool stufff) smthng
other = concat (+ 2 4) smthng

</script>

<script id="render" type="text/html">
  <table border=1 style=border-collapse:collapse;>
      <tr>
        <th>mark 8 code</th>
        <th>javascript code</th>
      </tr>
    <% _.each(tests, function (test) { %>
      <tr>
        <td class="mark8-code">
<pre>
<%= test.mark8 %>        
</pre>
      </td> 
      <td class="mark8-code">
<pre>
<%= test.js %>        
</pre>
      </td> 
        <td class="string_indent-code">
<pre>
<%= test.string_indent %>        
</pre>
      </td> 
      </td> 
        <td class="indent-code">
<pre>
<%= JSON.stringify(test.indent) %>        
</pre>
      </td> 
      </tr> 
    <% }) %>
  </table>
</script>

<script>
var runTests = function () {
  var inputs = _.map($(".test"), function (testEl) {
    return $(testEl).html()
  })

  var results = _.map(inputs, function (input) {
    return {
      mark8: input,
      js: mark8(input, 0, {"alert": 1, "smthng": 1, "log": 1}),
      string_indent: string_indent(input),
      indent: indent(input)
    } 
  })
  $("#results").html(_.template($("#render").html(), {tests: results}))
}
runTests();
</script>

